<header class="header">
    {{#if @blog.logo}}
        <a href="{{@blog.url}}" class="header__logo"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
    {{/if}}
    <div class="header__info header-info">
        <a href="{{@blog.url}}" class="header-info__link">{{@blog.title}}</a>
        <strong class="header-info__description">{{@blog.description}}</strong>
    </div>
</header>