<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="{{meta_description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{meta_title}}</title>
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.min.css"}}" />
    {{ghost_head}}
</head>
<body>
    {{> "sprite"}}
    <div class="page-wrap">
        {{> "header"}}
        <main class="content" role="main">
            {{{body}}}
        </main>
    </div>
    {{> "footer"}}
    {{ghost_foot}}
</body>
</html>