{{!< default}}

<ul class="posts">
{{#foreach posts}}
    <li class="{{post_class}}">
        <img src="{{image}}" alt="" />
        <header class="post-header">
            <h2><a href="{{url}}">{{title}}</a></h2>
        </header>
        <section class="post-excerpt">
            <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">...</a></p>
        </section>
        <footer class="post-meta">
            {{!author}}
            {{tags prefix=" on "}}
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
        </footer>
    </li>
{{/foreach}}
</ul>

{{pagination}}