{{!< default}}

<ul class="posts">
{{#foreach posts}}
    {{#if featured}}
        <li class="post-item post-item--featured{{#if image}} post-item--faded{{/if}}" {{> index/background}}>
            <article class="post post--featured">
                <h2 class="post__head post-head post-head--featured">
                    <strong class="post-head__text post-head__text--featured">
                        <a href="{{url}}">{{title}}</a>
                    </strong>
                </h2>
                <section class="post__info post-info">
                    {{> index/date type="featured"}}
                    {{> index/tags}}
                </section>
                {{> index/announce}}
            </article>
        </li>
    {{else}}
        <li class="post-item post-item--regular">
            <article class="post post--regular">
                <h2 class="post__head post-head post-head--regular{{#if image}} post-head--faded{{/if}}" {{> index/background}}>
                    <a href="{{url}}">{{title}}</a>
                </h2>
                <section class="post__info post-info">
                    {{> index/date type="regular"}}
                    {{> index/tags}}
                </section>
                {{> index/announce}}
            </article>
        </li>
    {{/if}}
{{/foreach}}
</ul>

{{!pagination}}