<div class="{{class}}-info__date {{class}}-date">
    <svg class="{{class}}-date__icon">
        <use xlink:href="#calendar-icon" class="calendar calendar--{{type}}"></use>
    </svg>
    <time class="{{class}}-date__time" datetime="{{date format="DD-MM-YYYY"}}">{{date format="DD.MM.YYYY"}}</time>
</div>